<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_4.dtd" >
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Cytoscape Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/appCtx/cytoweb-*.xml
            /WEB-INF/appCtx/cytoscape-core.xml
            /WEB-INF/appCtx/cytoscapeCoreProviderBean.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>cytoweb</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <!-- We map all service request to the springws servlet. -->
    <servlet-mapping>
        <servlet-name>cytoweb</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <!--<jsp-config>-->
        <!--<taglib>-->
            <!--<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>-->
            <!--<taglib-location>classpath:fmt.tld</taglib-location>-->
        <!--</taglib>-->
        <!--<taglib>-->
            <!--<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>-->
            <!--<taglib-location>/WEB-INF/c.tld</taglib-location>-->
        <!--</taglib>-->
    <!--</jsp-config>-->
</web-app>
